body {
    font-family: 'Times New Roman';
    background-image: url(web.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
}

.Lista
{
    background-color: rgb(52, 196, 201);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 600px;
}

h2 {
    background-color: white; /* Color de fondo blanco */
    padding: 10px; /* Espaciado interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave, opcional */
    display: inline-block; /* Hace que el fondo se ajuste al contenido */
}

.lista:hover {
    background-color: rgb(34, 150, 153); /* Cambia el color de fondo en hover */
    transform: scale(1.05); /* Agranda ligeramente el contenedor */
    transition: transform 0.3s ease; /* Suaviza el cambio de tamaño */
}